<html>
<head>
<link rel="stylesheet" href="/public/assest/file2.css">
<style>
  img:hover{
     width: 300px;
     height:400px;
  }
</style>
</head>
<body bgcolor="powderblue">
<header>
    <h1>OUTFITS</h1>
</header>
 <main>
        <section class="product">
 <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ1zmjv-Ykju7BeBuAngAVa8YS0hf4w-M9Tmw&usqp=CAU">
           <br><br>
            <p>Price: 10000</p>
            <button class="buy-button"onclick="myFunction()">Place order</button>

        </section>
   <section class="product">
 <left><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQyP8mNsF1ha6FGdmR-k-4uhircGsoJM8O-n30TysCjt4isvzstd-QmGF8qF4p9ZfWWBEc&usqp=CAU">
             <br><br>
            <p>Price: 50000</p>
            <button class="buy-button"onclick="myFunction()">Place order</button>
 </section>
 <section class="product">
 <left><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTyJDV4_bPZjM0g5dbMK5suTlyJvZwLTDuM593RRYZ-cXEx_RFwFqEPCwRYTgjA-tE6ewQ&usqp=CAU">

            <br><br>
            <p>Price: 30000</p>
            <button class="buy-button"onclick="myFunction()">Place order</button>

        </section>
 <section class="product">
 <left><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQtwPmmHTd3DbSUpadvr_r_lHlTp3Se3wtpFslZHtx-aGLVTnrsaCOBrWPyNv9a-KuMlrI&usqp=CAU">
             <br><br>
            <p>Price: $100000</p>
            <button class="buy-button"onclick="myFunction()">Place order</button>

        </section>
<section class="product">
 <left><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ7KNxNeTq96vXocIAWwqjwx7Inj9hTE_r7vFwRzRmbMWyqY5VkjFsZg8ywJ5G9RM_wC5Y&usqp=CAU">

            <br><br>
            <p>Price: 70000</p>
            <button class="buy-button"onclick="myFunction()">Place order</button>

        </section>
<section class="product">
 <left><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSOzqoYi_04kNeU-wJfUdIIxBgN9EULXwK-r-ktX7z9LU9Qrv4DNwt5SQkF7ItRjs2h61o&usqp=CAU">
            <br><br>
            <p>Price: 1000</p>
            <button class="buy-button"onclick="myFunction()">Place order</button>

        </section>
<section class="product">
 <left><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBMsKPSMrB0-haxXSpIWoUo1HNZB2Kt_Xm3oF7T23VlGatJa3Z1MdGQumSSv7sVumjjbs&usqp=CAU">
            <br><br>
            <p>Price: 2000</p>
            <button class="buy-button"onclick="myFunction()">Place order</button>

        </section>
<section class="product">
 <left><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTGvAtVxLaUeQXTAxjFQUGVlqnpQCEzJJAtOzNVijnjgBVhmwBj-KGnjxZm24jqLeHalLs&usqp=CAU">
            <br><br>
            <p>Price: 50000</p>
            <button class="buy-button"onclick="myFunction()">Place order</button>

        </section>
<section class="product">
 <left><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0WQlPhY6v_TgdbUTW6lwnz8clIczDh-TTlUS5u9EXR409oFTGVsjjaOizTQ3Nlif_1CU&usqp=CAU">
            <br><br>
            <p>Price: 10000</p>
            <button class="buy-button"onclick="myFunction()">Place order</button>

        </section>
<section class="product">
 <left><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQHqmjLHlS0bHQBH8ow7G4eJtR8SizqKEJ9bQ&usqp=CAU">
             <br><br>
            <p>Price: 10000</p>
            <button class="buy-button"onclick="myFunction()">Place order</button>

        </section>
<section class="product">
 <left><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTWSO9DxQSl119aEmAQ8VI13NdObg-q3FiJog&usqp=CAU">
             <br><br>
            <p>Price: 6500</p>
            <button class="buy-button"onclick="myFunction()">Place order</button>

        </section>
<section class="product">
 <left><img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9sT2Hly7_WN0mYoDZYX8iJgNB-vVFFtnoGQ&usqp=CAU">
            <br><br>
            <p>Price: 8000</p>
            <button class="buy-button" onclick="myFunction()">Place order</button>

        </section>
</main>
<script>
	function myFunction(){
		alert("Order Placed!!!");
	}
</script>
</body>
</html>