<!DOCTYPE html>
<html>
    <head>
        <title>R.K RESIDENCY</title>
        <link href='https://fonts.googleapis.com/css?family=Courgette' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Poppins' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="/public/assest/styles.css">
    </head>

<body>
    <div class="background-container"></div> 
            <div class="fixed-content">
                
                <button onclick="" type="button" class="transparent-button">Home</button>
                <button onclick="" type="button" class="transparent-button">About</button>
             <a href="/login">   <button onclick="/login" type="button" class="transparent-button">Login</button></a>
             <a href="/register">   <button onclick="/register" type="button" class="transparent-button">Register</button></a>
                
        </div>
        </div>
    </div>
    
<div class="center-content">
    
    <h1><span class="tit2"> Quality Speaks</span></h1>
    <p><span class="tit3"> SGR E-Boutique</span></p>
</div>



</body>

</html>
