<html>
    <head>
        <title>
          Login
        </title>
        <link href="/public/assest/login.css" rel="stylesheet" type="text/css">

    </head>
    <body>
        <div class="center">
            <div class="outerpotti">
        <div class="center">
                <div class="outerpotti2">
        <div class="center">
                        <div class="outerpotti3">
        <div class="center">
            <form action="/login" method="post">
                <label>Name</label>
                <input type="text" class="text-input" placeholder="Username" name="user_name" required>
                <br>
                <br>
                <label>Password</label>
                <input type="password" class="text-input" placeholder="Password" name="password" required>
                <br>
                <br>
                <br>
                <input type="submit" class="submit-button center1" value="login"> 
         
            </form>
                    
        </div>
                        </div>
        </div>
                </div>
        </div>
            </div>
        </div>
    </body>
</html>
